<!DOCTYPE html>
<html>
  <head  prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <%= display_meta_tags site: 'Sugarjudge(糖質収支ジャッジアプリ)', reverse: true, 
      description: 'この食事は黒字か？赤字か？面倒くさがり屋のための糖質収支ジャッジアプリ『Sugarjudge』
      簡単な操作で太る原因である糖質を摂りすぎたか範囲内かを黒字か赤字かでジャッジ！
      判定内容はアプリ内で共有されるので、みんなに見てもらおう！', 
      og: { title: 'Sugarjudge(糖質収支ジャッジアプリ)', description: 'この食事は黒字か？赤字か？面倒くさがり屋のための糖質収支ジャッジアプリ『Sugarjudge』
      糖質を黒字か赤字かでジャッジ！', 
      url: 'https://sugarjudge.herokuapp.com/',
      image: image_url('logo'), type: 'website' },
      twitter: { card: 'summary_large_image' } %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
